<link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">

html {
  font-family: 'Raleway', sans-serif;
}

body {
  color: #333;
  font-weight: 100;
  max-width: 50em;
  margin: 0 auto;
  background: #1ac9cc;
}

div:focus {
  outline: none;
}

#heading {
  font-size: 48px;
  padding-top: 30px;
}

#content {
  padding-top: 10px;
  font-size: 24px;
}
